/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
@font-face {
	font-family: 'AmbleRegular';
    src: url( ../fonts/Amble-Light-webfont.ttf ) format("truetype"); 
}
body{
	font-family: 'AmbleRegular';
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header{
	padding:10px 0;
	background: url("../images/f-bg.png");
}
.header-bot{
	background: #111;
}
.preview{
	position: relative;
}
.logo{
	text-align:center; 
	padding: 20px 0 30px;
}
/*** MENU ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu li {
	float:			left;
	margin-right:1px;
	position:		relative;
}
.sf-menu a {
	display:		block;
	color:#fff;
	text-transform:uppercase;
	font-size:18px;
	line-height:24px;
	padding:18px 91px;
	transition: all 0.4s ease 0s;
	text-decoration: none;
}
.sf-menu a:hover,
.sf-menu li.current> a,
.sf-menu li.sfHover > a {
	background:#255324;
	text-decoration:none;
}
.sf-menu ul a:hover,
.sf-menu ul li.sfHover > a {
	background:none;
	color:#fff;
	text-decoration:none;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	background:#191919;
	padding:15px 0 1px 21px; 
	width:92%; 
}
.sf-menu ul ul {
	background:#404040;
}
.sf-menu ul li {
    background: url("../images/divider1.png") repeat-x scroll center bottom transparent;
    margin-bottom: 7px;
    padding-bottom: 11px;
    text-align: center;
    width: 75%;
}
.sf-menu ul ul li {
	text-align:left;
}
.sf-menu ul a {
	color:#c9c9c9;
	display:inline-block;
	font-size:14px;
	background:none;
	padding:0;
	line-height:17px;
	margin-right: -25px;
}
.sf-menu li:hover {
	visibility:		inherit; 
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			60px;
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 68px;
    top: -13px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 68px;
    top: -13px;
}
.sf-menu li.sub-menu:after {
    background: url("../images/indicator.png") no-repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 4px;
    right: 10%;
    margin-top: -1px;
    position: absolute;
    top: 48%;
    width: 5px;
}
.sf-menu ul li.sub-menu:after {right: 0;}
.content{
	background:#fff;
}
/*  GRID OF THREE   ============================================================================= */
.col_1_of_3{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col_1_of_3:first-child { margin-left: 0; }
.span_1_of_3  h3, .span_2_of_3 h3{
	color:#3A6F39;
	margin-bottom:0.5em;
	font-size:2em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.span_1_of_3  p, .span_2_of_3 p{
	font-size:0.8125em;
	color: #999;
	line-height: 1.8em;
	margin-bottom: 10px;
}
span a{
	color:#323232;
}
span a:hover{
	color: #F17176;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_3{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%;  
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
     
     .wrap{
		width:95%;
	}		
	.col_1_of_3{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:92%;
		padding:4%;
	}
}
.content-top{
	background: url(../images/line.gif)left bottom repeat-x;
}
span.image{
	display: block;
	background: url(../images/thumb-shadow.png) center bottom no-repeat;
	padding-bottom: 28px;
}
span.image img{
	padding:5px;
	background:#fff;
	box-shadow:0 0  10px #999;
}
span.italic {
	color:#3A6F39;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
}
span.italic:hover{
	color:#222;
}
/*  GRID OF Content and sidebar   ============================================================================= */
.cont{
	display: block;
	float:left;
	margin: 1% 0 1% 0;
}
.rsidebar{
	display: block;
	float:left;
	margin: 1% 0 1% 0;
} 	
.span_2_of_3 {
	width: 63.1%;
	padding:1.5%; 
}
.span_1_of_3 {
	width: 29.2%;
	padding:1.5%; 
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.rsidebar{
		margin:0;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%;  
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.cont{ 
		margin: 1% 0 1% 0%;
	}
	.rsidebar{
		margin:0;
	}
	.span_2_of_3 {
		width:92%;
		padding:4%;
	}
	.span_1_of_3 {
		width:92%;
		padding:4%;
	}
}
.extra-wrap .testimonials .testi-item:first-child {
	border-bottom: 1px dotted #B8BBBB;
}
.extra-wrap .testimonials .testi-item {
	margin-bottom: 10px;
	padding-bottom: 13px;
}
.featured-thumbnail {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 5px 20px 10px 0;
}
p.para a{
	color:#999;
}
/*--Footer--*/
.footer {
	background: url("../images/f-bg.png");
}
a.link-1 {
	text-decoration: none;
	cursor: pointer;
	color: #888;
	font-size: 13px;
	line-height: 35px;
	width: 35px;
	height: 35px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	background: url(../images/fb-icon.png) 0 0 no-repeat;
	padding: 0 50px 20px;
	text-transform: uppercase;
}
a.link-1:hover {
	text-decoration: none;
	background-position: right 0;
	background: url(../images/fb1.png) 0 0 no-repeat;
}
a.link-2 {
	text-decoration: none;
	cursor: pointer;
	color: #888;
	font-size: 13px;
	line-height: 35px;
	width: 35px;
	height: 35px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	background: url(../images/tw-icon.png) 0 0 no-repeat;
	padding: 0 50px 20px;
	text-transform: uppercase;
}
a.link-2:hover {
	text-decoration: none;
	background-position: right 0;
	background: url(../images/tw1.png) 0 0 no-repeat;
}
a.link-3 {
	text-decoration: none;
	cursor: pointer;
	color: #888;
	font-size: 13px;
	line-height: 35px;
	width: 35px;
	height: 35px;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	background: url(../images/g-icon.png) 0 0 no-repeat;
	padding: 0 50px 0px;
	text-transform: uppercase;
}
a.link-3:hover {
	text-decoration: none;
	background-position: right 0;
	background: url(../images/g+.png) 0 0 no-repeat;
}
.span_1_of_3 h4, .span_2_of_3 h4 {
	color: #F17176;
	margin-bottom: 0.5em;
	font-size:1.5em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.footer a:hover {
	text-decoration: none;
	color:#111;
}
/*  GRID OF FOUR   ============================================================================= */
.col_1_of_4{
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
.span_1_of_4 {
	width: 20.8%;
	padding:1.5%; 
}
.span_1_of_4  h4{
	color:#3A6F39;
	margin-bottom: .5em;
	font-size:1.5em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.span_1_of_4  p {
	font-size:0.8125em;
	padding:0.5em 0;
	color: #333;
	line-height: 1.5em;
}
/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */
@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:94%;
		padding:3%;  
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.col_1_of_4{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_4 {
		width:92%;
		padding:4%; 
	}
}
p.f-text{
	color:#888;
	line-height:1.8em; 
}
.footer-nav li {
	margin-bottom: 10px;
}
.footer-nav li a {
	font-size: 13px;
	color:#888;
	vertical-align: middle;	
}
.link:hover{
	color:#F17176;
}
.text{
	color:#888;
	font-size:13px;
	line-height:1.8em;
}
.text span{
	color:#3A6F39;
	font-size:2em;
	line-height: 2em;
}
.footer-bottom {
	background: #111;
	padding:20px; 
}
.copy p {
	text-align: center;
	font-size: 13px;
	color:#999;
}
.copy p a {
color:#8DF78B;
}
.copy p a:hover{
	text-decoration:underline; 
}
/*--About--*/
.about-top{
	margin-top: 20px;
}
h6.item{
	color:#999;
	font-size:1.5em;
}
.span_2_of_3  h5{
	color:#3A6F39;
	margin-bottom:0.5em;
	font-size:2em;
	line-height: 1.2;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
.about-right{
	margin-bottom:10px;
}
.left-img{
	width: 45%;
	float: left;
	margin-right: 5%;
}
.right-text{
	width:50%;
	float:left;
	margin-right:0px; 
}
.right-text h6{
	color:#888;
	margin-bottom:10px;
	font-size:1.2em;
}
/*--Services--*/
.ser-grid{
	margin:20px 0;
}
.span_1_of_s {
	width: 23.4%;
}
.col {
	display: block;
	float: left;
	margin: 1% 0 0 1.6%;
	padding-bottom: 20px;
}
.ser-img img{
	box-shadow: 0 0 4px #AAA;
	-webkit-box-shadow: 0 0 4px #AAA;
	-moz-box-shadow: 0 0 4px #AAA;
	-o-box-shadow: 0 0 4px #AAA;
	margin-bottom: 10px;
	display:block; 
}
.ser-desc {
	color: #888;
	font-size: 13px;
	line-height: 1.5em;
}
.ser-desc h6 {
	color: #888;
	font-size: 13px;
	margin-bottom: 5px;
	font-weight: bold;
}
.link {
	color: #323232;
	font-size: 14px;
}
p.s-text{
	color:#999;
	font-size:13px;
	line-height:1.8em; 
	margin-bottom: 20px;
}
h6.a-item {
	color: #999;
	font-size: 1.5em;
	margin-bottom: 5px;
}
/*--Single--*/
input.inputbox, input.required, div.k2AccountPage input[type="text"] {
	background: #E5E5E5;
	border: 1px solid #E5E5E5;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	height: 27px;
	padding: 0 7px;
	width: 100%;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.login-title h2{
	color:#3A6F39;
	margin-bottom: 0.5em;
	font-size: 2em;
	line-height: 1.2;
	font-weight: normal;
	margin-top: 0px;
	letter-spacing: -1px;
}
#login-form label{
	color:#999;
}
fieldset.input input[type="submit"] {
	background:#3A6F39;
	border:none;
	color:#fff;
	padding: 5px 10px;
	cursor:pointer; 
}
fieldset.input input[type="submit"]:hover{
	background:#2C5F2B;
}
.images_1_of_4 a img:hover {
	opacity: 0.6;
}
.images_1_of_4 a span:hover{
	opacity: 1;
	background: url(../images/zoom.png) no-repeat;
	filter: alpha(opacity=99);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.images_1_of_4 a span {
	position: absolute;
	top: 80px;
	left: 135px;
	width: 36px;
	height: 36px;
	opacity: 0;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
/*  Contact Form  ============================================================================= */
.col:first-child{
	margin-left:0;
}	
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:5px 0;
}
.contact-form span{
	display:block;
	font-size:0.8125em;
	color:#999;
	padding-bottom:5px;
}
.contact-form input[type="text"],.contact-form textarea{
	padding:8px;
	display:block;
	width:98%;
	background:#fcfcfc;
	border: none;
	outline:none;
	color:#999;
	font-size:0.8125em;
	font-family: 'AmbleRegular';
	box-shadow: 0 0 3px #AAA;
	-webkit-box-shadow: 0 0 3px #AAA;
	-o-box-shadow: 0 0 3px #AAA;
	-moz-box-shadow: 0 0 3px #AAA; 
}
.contact-form textarea{
	resize:none;
	height:120px;		
}
.contact-form input[type="submit"]{
	padding:7px 20px;
	color:#FFF;
	cursor:pointer;
	background:#3A6F39 url(../images/large-button-overlay.png);
	border: 1px solid rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-border-radius: 5px;
    border-radius:2px;
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    right:0;
}
.contact-form input[type="submit"]:hover{
	background-color:#2C5F2B;
}
.contact-form input[type="submit"]:active{
	background-color:#2C5F2B;
}
.company_address{
	padding-top:26px;
}
.company_address p span{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.map{
	margin-bottom:15px;
	box-shadow: 0 0 3px #AAA;
	-webkit-box-shadow: 0 0 3px #AAA;
	-moz-box-shadow: 0 0 3px #AAA;
	-o-box-shadow: 0 0 3px #AAA;
}

/***** Media Quries *****/
@media only screen and (max-width: 1024px) {
	.wrap{
		width:95%;
	}	
}
/*  GO FULL WIDTH AT LESS THAN 800 PIXELS */

@media only screen and (max-width: 800px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
}

/*  GO FULL WIDTH AT LESS THAN 640 PIXELS */

@media only screen and (max-width: 640px) and (min-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:94%;
		padding:3%; 
	}
	.col{ 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:94%;
		padding:3%; 
	}
   
   .contact-form input[type="text"],.contact-form textarea{
		width:97%;
	}
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.wrap{
		width:95%;
	}
	.span_2_of_3 {
		width:90%;
		padding:5%; 
	}
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_1_of_3 {
		width:90%;
		padding:5%; 
	}
	.contact-form input[type="text"],.contact-form textarea{
		width:92%;
	}
}
/*--Slider--*/
.dg-container{
	width: 100%;
	height: 450px;
	position: relative;
	background: url(../images/h-bg.png);
}
.dg-wrapper{
	width: 481px;
	height: 316px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	width: 482px;
	height: 316px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background: transparent url(../images/browser.png) no-repeat top left;
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.dg-container nav{
	width: 58px;
	position: absolute;
	z-index: 1000;
	bottom: 40px;
	left: 50%;
	margin-left: -29px;
}
/*--Media Queries--*/
@media all and (max-width:1366px) and (min-width:1280px){
	.wrap{
		width:90%; 
	}
	.sf-menu a {
		padding: 18px 85px;
	}
}
@media all and (max-width:1280px) and (min-width:1024px){
	.wrap{
		width:90%; 
	}
	.sf-menu a {
		padding: 18px 77px;
	}
}
@media all and (max-width:1024px) and (min-width:800px){
	.wrap{
		width:90%; 
	}
	.sf-menu a {
		padding: 18px 57px;
		font-size:17px;
	}
	.text span {
		font-size: 1.6em;
	}
	.span_1_of_3 h3, .span_2_of_3 h3 {
		font-size:1.8em;
	}
	.span_1_of_4 h4 {
		font-size: 1.2em;
	}
	.span_2_of_3 h5 {
		font-size:1.8em;
	}
	.sf-menu ul a {
		margin-right: -8px;
	}
	.sf-menu ul {
		padding: 15px 0 1px 16px;
	}
}
@media all and (max-width:800px) and (min-width:640px){
	.wrap{
		width:90%; 
	}
	.sf-menu a {
		padding: 18px 41px;
		font-size:15px;
	}
	.text span {
		font-size: 1.6em;
	}
	.span_1_of_3 h3, .span_2_of_3 h3 {
		font-size:1.8em;
	}
	.span_1_of_4 h4 {
		font-size: 1.2em;
	}
	.span_2_of_3 h5 {
		font-size:1.8em;
	}
	.sf-menu ul a {
		margin-right: -8px;
	}
	.sf-menu ul {
		padding: 15px 0 1px 16px;
	}
	span.image {
		padding-bottom: 15px;
	}
	.col_1_of_3 {
		margin: 1% 0 -1% 1.6%;
	}
	.cont {
		margin: 1% 0 -5% 0;
	}
	.left-img {
		width:25%;
	}
}
@media all and (max-width:640px) and (min-width:480px){
	.wrap{
		width:90%; 
	}
	.sf-menu a {
		padding: 18px 26px;
		font-size:15px;
	}
	.text span {
		font-size: 1.6em;
	}
	.span_1_of_3 h3, .span_2_of_3 h3 {
		font-size:1.8em;
	}
	.span_1_of_4 h4 {
		font-size: 1.2em;
	}
	.span_2_of_3 h5 {
		font-size:1.8em;
	}
	.sf-menu ul a {
		margin-right: -8px;
	}
	.sf-menu ul {
		padding: 15px 0 1px 9px;
	}
	span.image {
		padding-bottom: 15px;
	}
	.col_1_of_3 {
		margin: 1% 0 -1% 1.6%;
	}
	.cont {
		margin: 1% 0 -5% 0;
	}
	.left-img {
		width:25%;
	}
	.span_1_of_s {
		width:100%;
	}
}
@media all and (max-width:480px) and (min-width:320px){
	.wrap{
		width:90%; 
	}
	.sf-menu a {
		padding: 18px 16px;
		font-size: 13px;
	}
	.text span {
		font-size: 1.6em;
	}
	.span_1_of_3 h3, .span_2_of_3 h3 {
		font-size:1.8em;
	}
	.span_1_of_4 h4 {
		font-size: 1.2em;
	}
	.span_2_of_3 h5 {
		font-size:1.8em;
	}
	.sf-menu ul a {
		margin-right: -8px;
	}
	.sf-menu ul {
		padding: 15px 0 1px 9px;
	}
	span.image {
		padding-bottom: 15px;
	}
	.col_1_of_3 {
		margin: 1% 0 -1% 1.6%;
	}
	.cont {
		margin: 1% 0 -5% 0;
	}
	.left-img {
		width:25%;
	}
	.span_1_of_s {
		width:100%;
	}
	.logo{
		float:left;
		width:30%;
	}
	.top-header-right p {
		margin-top:20px; 
		font-size: 13px;
	}
	a.link-1 {
		padding: 0 45px 20px;
	}
	a.link-2 {
		padding: 0 45px 20px;
	}
	a.link-3 {
		padding: 0 45px 20px;
	}
}
@media all and (max-width:320px) and (min-width:240px){
	.wrap{
		width:90%; 
	}
	.sf-menu a {
	padding: 18px 5px;
	font-size: 11px;
	}
	.text span {
		font-size: 1.6em;
	}
	.span_1_of_3 h3, .span_2_of_3 h3 {
		font-size:1.8em;
	}
	.span_1_of_4 h4 {
		font-size: 1.2em;
	}
	.span_2_of_3 h5 {
		font-size:1.8em;
	}
	.sf-menu ul a {
		margin-right: -8px;
	}
	.sf-menu ul {
		padding: 15px 0 1px 9px;
	}
	span.image {
		padding-bottom: 15px;
	}
	.col_1_of_3 {
		margin: 1% 0 -1% 1.6%;
	}
	.cont {
		margin: 1% 0 -5% 0;
	}
	.left-img {
		width:25%;
	}
	.span_1_of_s {
		width:100%;
	}
	.logo{
		float:left;
		width:30%;
	}
	.top-header-right p {
		margin-top: 13px;
		font-size: 11px;
	}
	a.link-1 {
		padding: 0 45px 20px;
	}
	a.link-2 {
		padding: 0 45px 20px;
	}
	a.link-3 {
		padding: 0 45px 20px;
	}
	.sf-menu ul a{
		font-size:10px;
	}
}
.link11 {
	background: url(../images/arrow.png) no-repeat 5px 8px;
	display: inline-block;
	padding: 10px 100px 10px 35px;
	line-height: 19px;
	font-size: 0.8125em;
	font-style: normal;
	text-decoration: none;
	color: #fff;









